    html,body
    {
    margin:0;
    padding: 0;
    height: 100%;

    background-color: #00796B; 

    }
   #listdata
{
    text-align: left;
}
.fa.fa-times-circle 
{
    float: right;
}
.wrapper
{
margin:0 400px;
}
#done
{
    font-size: 10px;
    float: right;
    margin-top: -100px;
    margin-right: -150px;

}
    #tb
    {
    font-size: 25px;
    width:800px;
    margin:25px;
    }
    .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    } 
    .card {
    flex: 0 1 24%;
    }
    #wrapper
    {
    width: 100%;
    height:auto;
    background-color:beige; 
    text-align: center;
    }
    #head
    {
    background-color: #DD2C00;
    padding:15px;
    width: 100%;


    }
    #navmenu
    {
    float:left;
    display: inline;
    margin-top: 50px;

    }

    .cardtypes
    {   background-color: bisque;
    text-align: left;
    margin-left: 25px;
    margin-top:100px;
    width: auto;
    height: 40%;
    display:inline-block;

    box-shadow: 10px 10px 5px #212121;


    }


    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }

    .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    }

    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    #main {
    transition: margin-left .5s;
    padding: 16px;
    }
   #listbody
{
    background-color: beige;
    border-color: azure;
    margin:10 500 10 500;
    padding: 30 0 30 0;
   
}
#plus
{
    margin-top:-50px;
    margin-left: 350px;
}

   @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
